body {
  background-color: #48D1CC;
  color: #800000;
}

h1 {
  background-color: #EEEEEE;
  color: #0000CD;
}

h2 {
  background-color: #EEEEEE;
  color: #0000CD;
}

h3 {
  background-color: #EEEEEE;
  color: #0000CD;
}

.feature {
  color: #B22222;
  background-color: #FFD700;
}

.companyname {
  color: #0000CD;
  font-weight: bold;
}

footer {
  font-size: small;
  font-style: italic;
}