body {
  background-color: #E6E6FA;
  color: #191970;
}

h1 {
  background-color: #FFC0CB;
  color: #191970;
}

h2 {
  background-color: #FFC0CB;
  color: #191970;
}

h3 {
  background-color: #FFC0CB;
  color: #191970;
}

.feature {
  color: #B22222;
  background-color: #FFD700;
}

.companyname {
  color: #000000;
  font-weight: bold;
}

footer {
  font-size: small;
  font-style: italic;
}