  body {
  background-color: #057A96;
  color: #191B1C;
  font-family: "Courier New Italic", "Times New Roman", serif;
}

header {
  height: 50px;
  padding-top: 15px;
  margin-bottom: 50px;
}

h1 {
  color: #191B1C;
  font-weight: bold;
  text-align: center;
  background-color: #255C69;
}

h2 {
  color: #191B1C;
  font-family: "Times New Roman", Verdana, serif;
  background-color: #185260;
}

li {
  list-style-type: none;
}

.companyname {
  color: #000000;
  font-weight: bold;
}

footer {
  font-size: smaller;
  font-style: italic;
  margin: 50px;
}


#location {
  font-size: 90%;
}

.restaurant {
  font-weight: bold;
}

main {
  margin: 50px;
}

a {
  color: #000000;
}

#soulfood {
  height: 400px;
  background-image: url(images/Hot&Juicy.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

figcaption {
  font-family: Helvetica, Arial, serif;
  font-style: italic;
  font-size: 10pt;
}

@media only screen and (max-width: 64em) {
  body {
    margin: 0;
    background-image: none;
    background-color: #057A96;
  }
  main {
    margin: 50px;
  }
  footer {
    margin: 50px;
  }
}

@media only screen and (max-width: 37.5em) {
  header {
    padding-top: 1em;
  }
  main {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 90%;
  }
  h1 {
    font-size: 1.5em;
  }
  #soulfood {
    background-image: none;
    height: 0;
  }
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
}

